.navbar {
    background-color: #E5E7E9;
}

.quem-somos {
    background-color: #8E44AD;
    color: white;
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: #F4D03F;
    color: #3a3b2f;
}

.margin2 {
    padding-top: 20px;
    padding-bottom: 20px;
    
}